*,
:before,
:after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.row-limit-size {
    max-width: 1300px;
    width: 100%;
    margin: 0 auto;
}

body {
  background-image: url('../img/addrecipe.jpg');
  background-repeat: no-repeat;
  background-size: contain;
  
  height: auto;

}


@font-face {
    font-family: 'OpenSans-bold';
    src: url(../fonts/OpenSans-Bold.ttf);
}

@font-face {
    font-family: 'OpenSans-Regular';
    src: url(../fonts/OpenSans-Regular.ttf);
}

$primary: #f7953c;
$secondary: #b54f2c;
$new: #ebded5;
$font: 'OpenSans-Regular', sans-serif;
$font1: 'OpenSans-Bold', sans-serif;


.addrecipe {
  .container-recipe {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f2f2f2;
    border-radius: 5px;
    display: grid;
    grid-gap: 20px;
    align-items: start;

    .title-add {
      font-size: 24px;
      text-transform: uppercase;
      text-align: center;
      margin-bottom: 20px;
    }

    form {
      display: grid;
      grid-gap: 20px;



      .title-recipe {
        grid-row: span 2;

        label {}

        input[type="text"] {}
      }

      .recipe-resume {
        textarea {}
      }

      .recipe-ingredient {
        label {}

        textarea {}
      }

      .recipe-description {
        label {}

        textarea {}

        .recipe-author {
          label {}

          input[type="number"] {}
        }

        .btn-send {
          grid-column: span 2;

          input[type="reset"],
          input[type="submit"] {}
        }
      }
    }
  }
}
