*,
:before,
:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.row-limit-size {
  max-width: 1300px;
  width: 100%;
  margin: 0 auto;
}

body {
  background-image: url("../img/addrecipe.jpg");
  background-repeat: unset;
  background-size: contain;
}

@font-face {
  font-family: "OpenSans-bold";
  src: url(../fonts/OpenSans-Bold.ttf);
}
@font-face {
  font-family: "OpenSans-Regular";
  src: url(../fonts/OpenSans-Regular.ttf);
}
.addrecipe .container-recipe {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  background: linear-gradient(180deg, rgb(0, 0, 0) 0%, rgb(84, 83, 91) 41%, rgb(45, 45, 45) 93%, rgb(115, 115, 115) 96%, rgb(11, 11, 11) 100%);
  border-radius: 10px;
  display: grid;
  grid-gap: 20px;
}
.addrecipe .container-recipe .title-add {
  font-size: 1.8rem;
  color: white;
  text-transform: uppercase;
  text-align: center;
  padding: 30px;
}
.addrecipe .container-recipe form {
  display: grid;
  width: 800px;
  height: 1000px;
  align-items: center;
  justify-items: stretch;
  align-content: space-evenly;
}
.addrecipe .container-recipe form label {
  color: white;
  font-size: 1.2rem;
  padding: 10px 10px;
  vertical-align: top;
}
.addrecipe .container-recipe form input[type=text] {
  width: 300px;
  height: 30px;
  font-size: 1rem;
  background: inherit;
  border: 2px solid white;
  border-radius: 10px;
  background: white;
  text-align: center;
}
.addrecipe .container-recipe form input[type=number],
.addrecipe .container-recipe form [type=date],
.addrecipe .container-recipe form [type=time] {
  width: 150px;
  height: 30px;
  font-size: 1rem;
  text-align: center;
  border: inherit;
  border: 2px solid white;
  border-radius: 10px;
  background: white;
}
.addrecipe .container-recipe form textarea {
  width: 400px;
  height: auto;
  border-radius: 10px;
}
.addrecipe .container-recipe form .title-recipe {
  grid-row: span 2;
}
.addrecipe .container-recipe form .btn-send {
  width: 200px;
  height: 70px;
}
.addrecipe .container-recipe form .btn-send > .pulse {
  width: 150px;
  height: 35px;
  font-size: 1rem;
  border-radius: 10px;
  background: white;
  border: 2px solid;
  font: inherit;
  line-height: 1;
  margin: 0.5em;
  cursor: pointer;
}
.addrecipe .container-recipe form .btn-send > .pulse:hover, .addrecipe .container-recipe form .btn-send > .pulse:focus {
  animation: pulse 1s;
  box-shadow: 0 0 0 2em transparent;
}
@keyframes pulse {
  0% {
    box-shadow: 5px 6px 10px 5px rgba(247, 149, 60, 0.08);
  }
}

.form-image {
  width: 600px;
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.form-image > form > #btn-sendImg {
  width: 150px;
  height: 35px;
  font-size: 1rem;
  border-radius: 10px;
  background: white;
  border: 2px solid black;
  font: inherit;
  line-height: 1;
  margin: 0.5em;
  cursor: pointer;
}
.form-image > form > #btn-sendImg:hover, .form-image > form > #btn-sendImg:focus {
  animation: pulse 1s;
  box-shadow: 0 0 0 2em transparent;
}
@keyframes pulse {
  0% {
    box-shadow: 5px 6px 10px 5px rgba(247, 149, 60, 0.08);
  }
}/*# sourceMappingURL=addrecipe.css.map */