*,
*:before,
*:after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Open Sans', Helvetica, Arial, sans-serif;
    background: rgb(0, 0, 0);
    background: linear-gradient(180deg, rgba(0, 0, 0, 1) 0%, rgba(247, 188, 60, 0.6278886554621849) 31%, rgba(45, 45, 45, 1) 83%, rgba(115, 115, 115, 1) 94%, rgba(11, 11, 11, 1) 100%);
}

a {
    text-decoration: none;
}

@font-face {
    font-family: 'OpenSans-bold';
    src: url(../fonts/OpenSans-Bold.ttf);
}

@font-face {
    font-family: 'OpenSans-Regular';
    src: url(../fonts/OpenSans-Regular.ttf);
}

$primary: #f7953c;
$secondary: #b54f2c;
$new: #ebded5;
$font: 'OpenSans-Regular', sans-serif;
$font1: 'OpenSans-Bold', sans-serif;

.dashboard-user {
    width: 100%;
    height: auto;

    .title-dash {
        width: 100%;
        height: 30px;
        color: white;
        font-size: 2.1rem;
        font-family: $font1;
        text-align: center;

    }

    .sidebar {
        width: 25%;
        height: 100vh;
        margin-top: 50px;
        background: rgb(0, 0, 0);
        background: linear-gradient(180deg, rgba(0, 0, 0, 1) 0%, rgba(247, 149, 60, 1) 31%, rgba(45, 45, 45, 1) 83%, rgba(115, 115, 115, 1) 94%, rgba(11, 11, 11, 1) 100%);
        font-size: 0.65em;
        border-color:transparent;
    }

    .navbar {
        position: relative;
        margin: 0 15%;
        text-align: right;
        top: 50%;
        transform: translateY(-50%);
        font-weight: bold;
    }

    .navbar ul {
        width: 250px;
        list-style: none;

        li {
            position: relative;
            margin: 3.2em 0;

            a {
                font-size: .8rem;
                line-height: 5em;
                text-transform: uppercase;
                letter-spacing: 0.4em;
                color: #FFF;
                display: block;
                transition: all ease-out 300ms;

                &:hover{
                    opacity: 60%;
                    color: $secondary;
                }
            }
           
            &::after {
                content: '';
                position: absolute;
                width: 100%;
                height: 0.2em;
                background: black;
                left: 0;
                bottom: 0;
                background: rgb(0, 0, 0);
                background: linear-gradient(180deg, rgba(0, 0, 0, 1) 0%, rgba(247, 149, 60, 1) 31%, rgba(45, 45, 45, 1) 83%, rgba(115, 115, 115, 1) 94%, rgba(11, 11, 11, 1) 100%);
            }
        }
    }

    #user-deconnect {
        width: 120px;
        height: 30px;
        border: none;
        border-radius: 20px;
        font-family: $font1;
        text-decoration: none;
        font-size: 1rem;
        color: white;
        cursor: pointer;
        background: rgb(0, 0, 0);
        background: linear-gradient(180deg, rgba(0, 0, 0, 1) 0%, rgba(247, 149, 60, 1) 31%, rgba(45, 45, 45, 1) 83%, rgba(115, 115, 115, 1) 94%, rgba(11, 11, 11, 1) 100%);

        &:hover {
            opacity: 50%;
            color: white;

        }
    }

}