*,
before,
after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    padding: 10px;
    height: auto;

}

@font-face {
    font-family: 'OpenSans-bold';
    src: url(../fonts/OpenSans-Bold.ttf);
}

@font-face {
    font-family: 'OpenSans-Regular';
    src: url(../fonts/OpenSans-Regular.ttf);
}

$primary: #f7953c;
$secondary: #b54f2c;
$new: #ebded5;
$font: 'OpenSans-Regular', sans-serif;
$font1: 'OpenSans-Bold', sans-serif;

.recipe-title {
    font-size: 1.5rem;
    font-family: $font1;
    font-weight: 700;
    font-style: italic;
    text-align: center;
    padding: 20px;

}

.last-recipe {
    width: 1300px;
    height: auto;
    display: flex;
    justify-content: center;
    padding: 20px;


    &>.card {
        width: 600px;
        height: 400px;
        background-size: cover;
        position: relative;
        border: 1px solid gray;
        border-radius: 20px;

    }

    .food-info {
        width: 500px;
        /* height: 200px; */
        background-color: white;
        display: flex;
        flex-direction: column;
        margin-left: 30px;

        .recipe-details {
            margin-bottom: 0.5em;

            & span {
                color: gray;
                font-size: 1.1rem;
                font-family: $font1;
            }

            &>.description{
                padding: 20px;
                font-size: 1rem;
                font-family: $font;
                font-weight: 600;
                text-align: justify;
            }
        }

    }
}