*,
before,
after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.row-limit-size {
    max-width: 1300px;
    width: 100%;
    margin: 0 auto;
}

body {
    padding: 10px;

}

@font-face {
    font-family: 'OpenSans-bold';
    src: url(../fonts/OpenSans-Bold.ttf);
}

@font-face {
    font-family: 'OpenSans-Regular';
    src: url(../fonts/OpenSans-Regular.ttf);
}

$primary: #f7953c;
$secondary: #b54f2c;
$new: #ebded5;

// *******************************************HEADER********************************************
header {
    max-width: 1300px;
    margin: 0 auto;
    height: 170px;

    nav {
        width: 100%;
        height: 150px;
        display: flex;

        .logo {
            width: 220px;
            text-align: center;
        }

        a {
            img.img-logo {
                height: 130px;
            }
        }

        span {
            font-family: 'OpenSans-Regular', sans-serif;
            font-size: .8rem;
            font-style: italic;
            font-weight: 700;
        }
    }

    ul.menu {
        display: flex;
        align-items: center;
        width: 100%;
        justify-content: space-evenly;

        li {
            list-style-type: none;

            a {
                font-family: 'OpenSans-Bold';
                text-decoration: none;
                font-size: 1rem;
                color: black;

                &:hover {
                    color: $secondary;
                }
            }

            #user-connect {
                width: 120px;
                height: 30px;
                border: none;
                border-radius: 20px;
                font-family: 'OpenSans-Bold';
                text-decoration: none;
                font-size: 1rem;
                color: black;
                cursor: pointer;
                background-color: $new;


                &:hover {
                    opacity: 50%;
                    color: $secondary;

                }
            }
        }
    }

}

.hr {
    align-items: center;
    display: flex;
    text-align: center;
    font-family: 'OpenSans-Bold', sans-serif;
    color: $secondary;

    &::before,
    &::after {
        background: $secondary;
        content: "";
        flex: 1;
        height: 2px;
        margin: 0 .5em;
        
    }
}



// border: 0 solid $secondary;
// border-top-width: 3px;
// height: 0;
// margin: 40px auto;
// display: block;
// width: 1000px;
// position: relative;

// *****************************************END HEADER ***********************************