*,
before,
after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.row-limit-size {
    max-width: 1300px;
    width: 100%;
    margin: 0 auto;
}

body {
    padding: 10px;
    height: auto;

}

@font-face {
    font-family: 'OpenSans-bold';
    src: url(../fonts/OpenSans-Bold.ttf);
}

@font-face {
    font-family: 'OpenSans-Regular';
    src: url(../fonts/OpenSans-Regular.ttf);
}

$primary: #f7953c;
$secondary: #b54f2c;
$new: #ebded5;

// *******************************************HEADER********************************************
header {
    max-width: 1300px;
    margin: 0 auto;
    height: 170px;

    .nav-header {
        width: 100%;
        height: 150px;
        display: flex;

        .logo {
            width: 220px;
            text-align: center;
        }

        a {
            img.img-logo {
                height: 130px;
            }
        }

        span {
            font-family: 'OpenSans-Regular', sans-serif;
            font-size: .8rem;
            font-style: italic;
            font-weight: 700;
        }
    }

    ul.menu {
        display: flex;
        align-items: center;
        width: 100%;
        justify-content: space-evenly;

        li {
            list-style-type: none;

            a {
                font-family: 'OpenSans-Bold';
                text-decoration: none;
                font-size: 1.2rem;
                color: black;

                &:hover {
                    color: $secondary;
                }
            }

            #user-connect {
                width: 120px;
                height: 30px;
                border: none;
                border-radius: 20px;
                font-family: 'OpenSans-Bold';
                text-decoration: none;
                font-size: 1.1rem;
                color: black;
                cursor: pointer;
                background-color: $new;


                &:hover {
                    opacity: 50%;
                    color: $secondary;

                }
            }
        }
    }

}

.hr {
    align-items: center;
    display: flex;
    text-align: center;
    font-family: 'OpenSans-Bold', sans-serif;
    color: $secondary;
    padding: 30px;

    &::before,
    &::after {
        background: $secondary;
        content: "";
        flex: 1;
        height: 2px;
        margin: 0 .5em;

    }
}

// *****************************************END HEADER ***********************************

// *******************************************MENU DEROULANT ***************************************

.stretchHolder {
    width: 750px;
    height: 50px;
    margin: 30px auto 140px auto;
    position: relative;
    z-index: 100;
    font-family: 'OpenSans-Bold', sans-serif;

    .stretchMenu {
        position: absolute;
        width: 750px;
        overflow: hidden;
    }
}

.stretchDrop {

    list-style: none;
    width: 1150px;
    position: relative;

    &>li.slide {
        float: left;
        width: 150px;
        transition: 0.8s;

        &>a {
            border-right: 1px solid #000;
        }
    }

    &>li.last {
        float: left;
    }

    &>li>a {
        display: block;
        font-family: 'OpenSans-Bold', sans-serif;
        font-style: italic;
        line-height: 50px;
        color: #000;
        text-decoration: none;
        font-size: .9rem;
        border-left: 2px solid #fff;
    }

    li.p1>div {
        background: $secondary;
    }

    li.p2>div {
        background: #c90;
    }

    li.p3>div {
        background: #0c9;
    }

    li.p4>div {
        background: #9c0;
    }

    li.p5>div {
        background: $primary;
    }

    &:hover {
        direction: ltr;
    }

    &:hover>li.slide {
        width: 70px;
        transition: 0.25s;
    }

    &:hover>li.slide:hover {
        width: 470px;
        transition: 0.25s;
    }

    &:hover>li:hover>div {
        height: 210px;
        transition: 0.3s 1s;
    }

    &>li>div {
        display: block;
        width: 469px;
        height: 50px;
        margin-top: -50px;
        overflow: hidden;
    }


    &>li>div dl {
        // width: 120px;
        float: left;
        padding: 30px 10px;
        margin: 30px;

    }

    &>li>div dl dt {
        font-family: 'OpenSans-Bold', sans-serif;
        font-size: 1rem;
        line-height: 25px;
        text-transform: uppercase;

    }

    &>li>div dl dt a {
        color: white;
        text-decoration: none;
    }

    &>li>div dl dd a {
        display: block;
        color: white;
        font-family: 'OpenSans-Regular', sans-serif;
        font-size: .9rem;
        line-height: 20px;
        text-decoration: none;
        font-style: italic;

        &:hover {
            opacity: 50%;

        }
    }
}

#info.stretchDrop>li>div p {
    width: 404px;
    height: 30px;
    font-family: 'OpenSans-Bold', sans-serif;
    background: #eee;
    position: absolute;
    bottom: 5px;
    left: 12px;
    padding: 0 20px;
    line-height: 30px;
    font-size: .9rem;
    margin: 0;
    border-radius: 30px;
}

// **************************************END MENU ROULANT *********************************

// -----------------------------------BARRE DE RECHERCHE -----------------------------------

.search-contain {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 2px solid $secondary;
    padding: 30px;
    border-radius: 20px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.search-title {
    font-size: 1.8rem;
    font-family: 'OpenSans-Bold', sans-serif;
    text-align: center;
    font-style: italic;
    color: $primary;

}

.citation {
    font-size: 1.3rem;
    font-family: 'OpenSans-Bold', sans-serif;
    font-style: italic;
    text-align: center;
    color: $secondary;
    padding: 30px;

    .name {
        font-size: 1.5rem;
        font-family: 'OpenSans-Bold', sans-serif;
        text-transform: uppercase;
        color: $primary;
    }

}

input,
button {
    border: none;
    background: none;
    outline: 0;
}

button {
    cursor: pointer;

}

.SearchBar-input::placeholder {
    color: white;
    font-style: italic;
    opacity: .6;

}

.search-bar {
    height: 3em;
    display: flex;
    border-radius: 4em;
    background-color: #f7953c;



    &:hover .SearchBar-input {
        padding-left: 2em;
        padding-right: 1em;
        width: 400px;
    }

    .SearchBar-input {
        width: 0;
        font-size: 1.2em;
        color: white;
        transition: .45s;

    }

    .SearchBar-button {
        display: flex;
        border-radius: 50%;
        width: 4em;
        height: 3.5em;
        background-color: $primary;
        transition: .3s;

        &:active {
            transform: scale(.85);
        }

    }

    .SearchBar-icon {
        margin: auto;
        color: #fff;
    }

}

// ************************************END BARRE DE RECHERCHE *********************************

// ------------------------------------ DERNIERES RECETTES ----------------------------------
.last-recipe {
    width: 100%;
    height: auto;
}

.new-recipe {
    font-family: 'OpenSans-Bold', sans-serif;
    font-size: 1.8rem;
    font-weight: 600;
    padding: 20px;
}
.card {
    background-image: url(../img/nouilles.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    // background-position: center;
    box-shadow: (
      1px 3px 3px rgba(0,0,0,0.2),
      -1px -1px 4px rgba(0,0,0,0.2)
    );
    height: 300px;
    position: relative;
    transition: box-shadow 130ms ease-in-out;
    width: 300px;
  
    &:hover {
      box-shadow: (
        2px 6px 6px rgba(0,0,0,0.2),
        -1px -1px 7px rgba(0,0,0,0.2)
      );
    }
  
  
    .favorite {
      transition: all 111ms ease-in-out;
  
      svg {
        fill: none;
        height: 1em;
        padding: 1px;
        transition: all 111ms ease-in-out;
        stroke: lightgray;
        stroke-width: 12;
        width: 1em;
      }
  
      &:hover svg {
        cursor: pointer;
        stroke: tomato;
      }
  
      &.js-is-selected svg {
        fill: tomato;
        stroke: tomato;
      }
    }
  
    .food-info {
      background-color: white;
      bottom: 0;
      left: 0;
      padding: 1em 2em 2em 1em;
      position: absolute;
      right: 0;
  
      p {
        margin: 0;
  
        span {
          color: gray;
          font-size: 14px;
        }
      }
  
      .favorite {
        position: absolute;
        right: 10px;
        top: 10px;
      }
    }
  }
  
// .card {
//     position: relative;
   
//     max-width: 300px;
//     margin: 20px auto;
//     box-shadow: 0px 0px 30px 2px #000;
//     .header {
//        background: url(../img/nouilles.jpg);
//        background-size: cover;
//        min-height: 350px;
//           .icon a .fa-heart-o {
//           position: absolute;
//           left: 85%;
//           bottom: 30.7%;
          
         
//           font-size: 1.3em;
//           font-weight: bold;
//           padding: 15px;
//           border-radius: 50%;
//           box-shadow: 0px 5px 30px 1px $heart;
//        }
//     }
//     .text {
//        .food {
//           color: $black;
//           text-align: left;
//           font-weight: normal;
//           text-transform: uppercase;
//           letter-spacing: 0.1em;
//           margin: 5px 30px;
//        }
//        .fa-clock-o {
//           color: $gray;
//           margin: 0 30px;
//        }
//        .fa-users {
//           color: $gray;
//        }
//     }
   
//     .info {
//        margin: 10px 30px;
//     }
//     a.btn {
//        display: block;
//        background: $button;
//        color: $white;
//        position: relative;
//        text-transform: uppercase;
//        letter-spacing: 0.1em;
//        text-align: center;
//        padding: 10px;
//        transition: 250ms;
//        &:hover {
//           background: $heart;
//           transition: 250ms;
//        }
//     }
//  }
