*,
:before,
:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.row-limit-size {
  max-width: 1300px;
  width: 100%;
  margin: 0 auto;
}

body {
  padding: 10px;
  height: auto;
}

@font-face {
  font-family: "OpenSans-bold";
  src: url(../fonts/OpenSans-Bold.ttf);
}
@font-face {
  font-family: "OpenSans-Regular";
  src: url(../fonts/OpenSans-Regular.ttf);
}
header {
  max-width: 1300px;
  margin: 0 auto;
  height: 170px;
}
header .nav-header {
  width: 100%;
  height: 150px;
  display: flex;
}
header .nav-header .logo {
  width: 220px;
  text-align: center;
}
header .nav-header a img.img-logo {
  height: 130px;
}
header .nav-header span {
  font-family: "OpenSans-Regular", sans-serif;
  font-size: 0.8rem;
  font-style: italic;
  font-weight: 700;
}
header ul.menu {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-evenly;
}
header ul.menu li {
  list-style-type: none;
}
header ul.menu li a {
  font-family: "OpenSans-Bold", sans-serif;
  text-decoration: none;
  font-size: 1.2rem;
  color: black;
}
header ul.menu li a:hover {
  color: #b54f2c;
}
header ul.menu li #user-connect {
  width: 120px;
  height: 30px;
  border: none;
  border-radius: 20px;
  font-family: "OpenSans-Bold", sans-serif;
  text-decoration: none;
  font-size: 1.1rem;
  color: black;
  cursor: pointer;
  background-color: #ebded5;
}
header ul.menu li #user-connect:hover {
  opacity: 50%;
  color: #b54f2c;
}

.hr {
  align-items: center;
  display: flex;
  text-align: center;
  font-family: "OpenSans-Bold", sans-serif;
  color: #b54f2c;
  padding: 30px;
}
.hr::before, .hr::after {
  background: #b54f2c;
  content: "";
  flex: 1;
  height: 2px;
  margin: 0 0.5em;
}

.stretchHolder {
  width: 750px;
  height: 50px;
  margin: 30px auto 140px auto;
  position: relative;
  z-index: 100;
  font-family: "OpenSans-Bold", sans-serif;
}
.stretchHolder .stretchMenu {
  position: absolute;
  width: 750px;
  overflow: hidden;
}

.stretchDrop {
  list-style: none;
  width: 1150px;
  position: relative;
}
.stretchDrop > li.slide {
  float: left;
  width: 150px;
  transition: 0.8s;
}
.stretchDrop > li.slide > a {
  border-right: 1px solid #000;
}
.stretchDrop > li.last {
  float: left;
}
.stretchDrop > li > a {
  display: block;
  font-family: "OpenSans-Bold", sans-serif;
  font-style: italic;
  line-height: 50px;
  color: #000;
  text-decoration: none;
  font-size: 0.9rem;
  border-left: 2px solid #fff;
}
.stretchDrop li.p1 > div {
  background: #b54f2c;
}
.stretchDrop li.p2 > div {
  background: #c90;
}
.stretchDrop li.p3 > div {
  background: #0c9;
}
.stretchDrop li.p4 > div {
  background: #9c0;
}
.stretchDrop li.p5 > div {
  background: #f7953c;
}
.stretchDrop:hover {
  direction: ltr;
}
.stretchDrop:hover > li.slide {
  width: 70px;
  transition: 0.25s;
}
.stretchDrop:hover > li.slide:hover {
  width: 470px;
  transition: 0.25s;
}
.stretchDrop:hover > li:hover > div {
  height: 210px;
  transition: 0.3s 1s;
}
.stretchDrop > li > div {
  display: block;
  width: 469px;
  height: 50px;
  margin-top: -50px;
  overflow: hidden;
}
.stretchDrop > li > div dl {
  float: left;
  padding: 30px 10px;
  margin: 30px;
}
.stretchDrop > li > div dl dt {
  font-family: "OpenSans-Bold", sans-serif;
  font-size: 1rem;
  line-height: 25px;
  text-transform: uppercase;
}
.stretchDrop > li > div dl dt a {
  color: white;
  text-decoration: none;
}
.stretchDrop > li > div dl dd a {
  display: block;
  color: white;
  font-family: "OpenSans-Regular", sans-serif;
  font-size: 0.9rem;
  line-height: 20px;
  text-decoration: none;
  font-style: italic;
}
.stretchDrop > li > div dl dd a:hover {
  opacity: 50%;
}

#info.stretchDrop > li > div p {
  width: 404px;
  height: 30px;
  font-family: "OpenSans-Bold", sans-serif;
  background: #eee;
  position: absolute;
  bottom: 5px;
  left: 12px;
  padding: 0 20px;
  line-height: 30px;
  font-size: 0.9rem;
  margin: 0;
  border-radius: 30px;
}

.search-contain {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 2px solid #b54f2c;
  padding: 30px;
  border-radius: 20px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.search-title {
  font-size: 1.8rem;
  font-family: "OpenSans-Bold", sans-serif;
  text-align: center;
  font-style: italic;
  color: #f7953c;
}

.citation {
  font-size: 1.3rem;
  font-family: "OpenSans-Bold", sans-serif;
  font-style: italic;
  text-align: center;
  color: #b54f2c;
  padding: 30px;
}
.citation .name {
  font-size: 1.5rem;
  font-family: "OpenSans-Bold", sans-serif;
  text-transform: uppercase;
  color: #f7953c;
}

input,
button {
  border: none;
  background: none;
  outline: 0;
}

button {
  cursor: pointer;
}

.SearchBar-input::-moz-placeholder {
  color: white;
  font-style: italic;
  opacity: 0.6;
}

.SearchBar-input::placeholder {
  color: white;
  font-style: italic;
  opacity: 0.6;
}

.search-bar {
  height: 3em;
  display: flex;
  border-radius: 4em;
  background-color: #f7953c;
}
.search-bar:hover .SearchBar-input {
  padding-left: 2em;
  padding-right: 1em;
  width: 400px;
}
.search-bar .SearchBar-input {
  width: 0;
  font-size: 1.2em;
  color: white;
  transition: 0.45s;
}
.search-bar .SearchBar-button {
  display: flex;
  border-radius: 50%;
  width: 4em;
  height: 3.5em;
  background-color: #f7953c;
  transition: 0.3s;
}
.search-bar .SearchBar-button:active {
  transform: scale(0.85);
}
.search-bar .SearchBar-icon {
  margin: auto;
  color: #fff;
}

#recipes-section {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
#recipes-section .new-recipe {
  width: 100%;
  text-align: center;
  padding: 40px;
  font-style: italic;
  font-family: "OpenSans-Bold", sans-serif;
  font-size: 1.8rem;
  font-weight: 600;
}
#recipes-section .last-recipe {
  margin-bottom: 40px;
}
#recipes-section .last-recipe .card {
  width: 350px;
  margin-bottom: 20px;
  height: 400px;
  background-repeat: no-repeat;
  background-size: contain;
  position: relative;
  border: 1px solid gray;
  border-radius: 20px;
  display: flex;
  justify-content: center;
}
#recipes-section .last-recipe .card > a {
  height: 20px;
  text-decoration: none;
  text-align: center;
  color: black;
}
#recipes-section .last-recipe .card > a > .recipe-title {
  font-size: 1.2rem;
  font-family: "OpenSans-Bold", sans-serif;
  font-weight: 700;
  color: #eee;
  font-style: italic;
  padding: 20px;
}
#recipes-section .last-recipe .card:hover {
  box-shadow: 2px 6px 6px rgba(0, 0, 0, 0.2), -1px -1px 7px rgba(0, 0, 0, 0.2);
}
#recipes-section .last-recipe .card .food-info {
  background-color: white;
  bottom: 0;
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
#recipes-section .last-recipe .card .food-info .recipe-details {
  color: gray;
  font-size: 0.9rem;
  margin-bottom: 0.5em;
  font-family: "OpenSans-Bold", sans-serif;
}
#recipes-section .last-recipe .card .food-info > .icon {
  height: 30px;
  width: 30px;
  margin: 0 auto;
}
#recipes-section .last-recipe .card .food-info > .icon svg.favorite {
  height: 25px;
  width: 25px;
  fill: pink;
  stroke: pink;
  text-align: center;
}
#recipes-section .last-recipe .card .food-info > .icon:hover .favorite {
  stroke: red;
}
#recipes-section .last-recipe .btn {
  display: block;
  color: #f7953c;
  position: relative;
  font-family: "OpenSans-Bold", sans-serif;
  text-decoration: none;
  text-align: center;
  padding: 10px;
}
#recipes-section .last-recipe .btn:hover {
  opacity: 60%;
  color: #b54f2c;
}/*# sourceMappingURL=style.css.map */