*,
before,
after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.row-limit-size {
    max-width: 1300px;
    width: 100%;
    margin: 0 auto;
}

body {
    padding: 10px;
    height: auto;

}

@font-face {
    font-family: 'OpenSans-bold';
    src: url(../fonts/OpenSans-Bold.ttf);
}

@font-face {
    font-family: 'OpenSans-Regular';
    src: url(../fonts/OpenSans-Regular.ttf);
}

$primary: #f7953c;
$secondary: #b54f2c;
$new: #ebded5;

// *******************************************HEADER********************************************
header {
    max-width: 1300px;
    margin: 0 auto;
    height: 170px;

    .nav-header {
        width: 100%;
        height: 150px;
        display: flex;

        .logo {
            width: 220px;
            text-align: center;
        }

        a {
            img.img-logo {
                height: 130px;
            }
        }

        span {
            font-family: 'OpenSans-Regular', sans-serif;
            font-size: .8rem;
            font-style: italic;
            font-weight: 700;
        }
    }

    ul.menu {
        display: flex;
        align-items: center;
        width: 100%;
        justify-content: space-evenly;

        li {
            list-style-type: none;

            a {
                font-family: 'OpenSans-Bold';
                text-decoration: none;
                font-size: 1.2rem;
                color: black;

                &:hover {
                    color: $secondary;
                }
            }

            #user-connect {
                width: 120px;
                height: 30px;
                border: none;
                border-radius: 20px;
                font-family: 'OpenSans-Bold';
                text-decoration: none;
                font-size: 1.1rem;
                color: black;
                cursor: pointer;
                background-color: $new;


                &:hover {
                    opacity: 50%;
                    color: $secondary;

                }
            }
        }
    }

}

.hr {
    align-items: center;
    display: flex;
    text-align: center;
    font-family: 'OpenSans-Bold', sans-serif;
    color: $secondary;
    padding: 30px;

    &::before,
    &::after {
        background: $secondary;
        content: "";
        flex: 1;
        height: 2px;
        margin: 0 .5em;

    }
}

// *****************************************END HEADER ***********************************

// *******************************************MENU DEROULANT ***************************************

.stretchHolder {
    width: 750px;
    height: 50px;
    margin: 30px auto 140px auto;
    position: relative;
    z-index: 100;
    font-family: 'OpenSans-Bold', sans-serif;

    .stretchMenu {
        position: absolute;
        width: 750px;
        overflow: hidden;
    }
}

.stretchDrop {

    list-style: none;
    width: 1150px;
    position: relative;

    &>li.slide {
        float: left;
        width: 150px;
        transition: 0.8s;

        &>a {
            border-right: 1px solid #000;
        }
    }

    &>li.last {
        float: left;
    }

    &>li>a {
        display: block;
        font-family: 'OpenSans-Bold', sans-serif;
        font-style: italic;
        line-height: 50px;
        color: #000;
        text-decoration: none;
        font-size: .9rem;
        border-left: 2px solid #fff;
    }

    li.p1>div {
        background: $secondary;
    }

    li.p2>div {
        background: #c90;
    }

    li.p3>div {
        background: #0c9;
    }

    li.p4>div {
        background: #9c0;
    }

    li.p5>div {
        background: $primary;
    }

    &:hover {
        direction: ltr;
    }

    &:hover>li.slide {
        width: 70px;
        transition: 0.25s;
    }

    &:hover>li.slide:hover {
        width: 470px;
        transition: 0.25s;
    }

    &:hover>li:hover>div {
        height: 210px;
        transition: 0.3s 1s;
    }

    &>li>div {
        display: block;
        width: 469px;
        height: 50px;
        margin-top: -50px;
        overflow: hidden;
    }


    &>li>div dl {
        // width: 120px;
        float: left;
        padding: 30px 10px;
        margin: 30px;

    }

    &>li>div dl dt {
        font-family: 'OpenSans-Bold', sans-serif;
        font-size: 1rem;
        line-height: 25px;
        text-transform: uppercase;

    }

    &>li>div dl dt a {
        color: white;
        text-decoration: none;
    }

    &>li>div dl dd a {
        display: block;
        color: white;
        font-family: 'OpenSans-Regular', sans-serif;
        font-size: .9rem;
        line-height: 20px;
        text-decoration: none;
        font-style: italic;

        &:hover {
            opacity: 50%;

        }
    }
}

#info.stretchDrop>li>div p {
    width: 404px;
    height: 30px;
    font-family: 'OpenSans-Bold', sans-serif;
    background: #eee;
    position: absolute;
    bottom: 5px;
    left: 12px;
    padding: 0 20px;
    line-height: 30px;
    font-size: .9rem;
    margin: 0;
    border-radius: 30px;
}

// **************************************END MENU ROULANT *********************************

// -----------------------------------BARRE DE RECHERCHE -----------------------------------

.search-contain {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 2px solid $secondary;
    padding: 30px;
    border-radius: 20px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.search-title {
    font-size: 1.8rem;
    font-family: 'OpenSans-Bold', sans-serif;
    text-align: center;
    font-style: italic;
    color: $primary;

}

.citation {
    font-size: 1.3rem;
    font-family: 'OpenSans-Bold', sans-serif;
    font-style: italic;
    text-align: center;
    color: $secondary;
    padding: 30px;

    .name {
        font-size: 1.5rem;
        font-family: 'OpenSans-Bold', sans-serif;
        text-transform: uppercase;
        color: $primary;
    }

}

input,
button {
    border: none;
    background: none;
    outline: 0;
}

button {
    cursor: pointer;

}

.SearchBar-input::placeholder {
    color: white;
    font-style: italic;
    opacity: .6;

}

.search-bar {
    height: 3em;
    display: flex;
    border-radius: 4em;
    background-color: #f7953c;



    &:hover .SearchBar-input {
        padding-left: 2em;
        padding-right: 1em;
        width: 400px;
    }

    .SearchBar-input {
        width: 0;
        font-size: 1.2em;
        color: white;
        transition: .45s;

    }

    .SearchBar-button {
        display: flex;
        border-radius: 50%;
        width: 4em;
        height: 3.5em;
        background-color: $primary;
        transition: .3s;

        &:active {
            transform: scale(.85);
        }

    }

    .SearchBar-icon {
        margin: auto;
        color: #fff;
    }

}

// ************************************END BARRE DE RECHERCHE *********************************

// ------------------------------------ DERNIERES RECETTES ----------------------------------

.last-recipe {
    width: 100%;
    height: auto;

    .new-recipe {
        font-family: 'OpenSans-Bold', sans-serif;
        font-size: 1.8rem;
        font-weight: 600;
        padding: 10px;
    }

    .card {
        width: 350px;
        height: 400px;
        background-image: url(../img/nouilles.jpg);
        background-repeat: no-repeat;
        background-size: contain;
        position: relative;
        border: 1px solid gray;
        border-radius: 20px;
        display: flex;
        justify-content: center;
        
    
    &:hover {
        box-shadow: 2px 6px 6px rgba(0, 0, 0, 0.2), -1px -1px 7px rgba(0, 0, 0, 0.2);
    }

    .food-info {
        background-color: white;
        bottom: 0;
        position: absolute;
        display: flex;
        flex-direction: column;
        justify-content: center;

        .recipe-title {
            font-size: 1.2rem;
            font-family: 'OpenSans-Bold', sans-serif;
            font-weight: 700;
            margin-bottom: 0.5em;
            font-style: italic;
        }

        .recipe-details {
            color: gray;
            font-size: .9rem;
            margin-bottom: 0.5em;
            font-family: 'OpenSans-Bold', sans-serif;
           
        }

        .icon {
            display: flex;
            justify-content: center;
            align-items: center;
           

            .favorite {
                height: 25px;
                width: 25px;
                fill: none;
                stroke: lightgray;
                stroke-width: 2;
                margin-right: 0.5em;
                transition: stroke 250ms ease-in-out;
            }

            &:hover .favorite {
                stroke: red;
            }
        }
    }
}

.btn {
    display: block;
    color: $primary;
    position: relative;
    font-family: 'OpenSans-Bold', sans-serif;
    text-decoration: none;
    text-align: center;
    padding: 10px;
   
    &:hover {
        opacity: 60%;
        color: $secondary;
       
    }
}


.card {
    width: 350px;
    height: 400px;
    background-image: url(../img/tortilla.jpg);
    background-repeat: no-repeat;
    background-size: contain;
    position: relative;
    border: 1px solid gray;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    

&:hover {
    box-shadow: 2px 6px 6px rgba(0, 0, 0, 0.2), -1px -1px 7px rgba(0, 0, 0, 0.2);
}

.food-info {
    background-color: white;
    bottom: 0;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;

    .recipe-title {
        font-size: 1.2rem;
        font-family: 'OpenSans-Bold', sans-serif;
        font-weight: 700;
        margin-bottom: 0.5em;
        font-style: italic;
    }

    .recipe-details {
        color: gray;
        font-size: .9rem;
        margin-bottom: 0.5em;
        font-family: 'OpenSans-Bold', sans-serif;
       
    }

    .icon {
        display: flex;
        justify-content: center;
        align-items: center;
       

        .favorite {
            height: 25px;
            width: 25px;
            fill: none;
            stroke: lightgray;
            stroke-width: 2;
            margin-right: 0.5em;
            transition: stroke 250ms ease-in-out;
        }

        &:hover .favorite {
            stroke: red;
        }
    }
}
}

.btn {
display: block;
color: $primary;
position: relative;
font-family: 'OpenSans-Bold', sans-serif;
text-decoration: none;
text-align: center;
padding: 10px;

&:hover {
    opacity: 60%;
    color: $secondary;
   
}
}


$nb-recettes: 3;
@for $i from 1 through $nb-recettes {
  .card:nth-child(#{$i}) {
    .recipe-title {
      content: "Recette #$i";
    }
  }
}
}






//   .card {
//     background-image: url(../img/nouilles.jpg);
//     background-repeat: no-repeat;
//     background-size: cover;
//     position: relative;
//     height: 300px;
//     width: 350px;
//     box-shadow: 1px 3px 3px rgba(0, 0, 0, 0.2), -1px -1px 4px rgba(0, 0, 0, 0.2);
//     transition: box-shadow 130ms ease-in-out;

//     &:hover {
//       box-shadow: 2px 6px 6px rgba(0, 0, 0, 0.2), -1px -1px 7px rgba(0, 0, 0, 0.2);
//     }

//     .food-info {
//       position: absolute;
//       bottom: 0;
//       left: 0;
//       right: 0;
//       background-color: white;
//       height: 100px;
//       padding: 1em 2em 2em 1em;
//       display: flex;
//       align-items: center;
//       justify-content: space-between;

//       p {
//         margin: 0;
//         span {
//           color: gray;
//           font-size: 14px;
//         }
//       }

//       .icon {
//         position: absolute;
//         right: 10px;
//         top: 10px;
//         display: flex;
//         flex-direction: column;
//         align-items: center;
//         transition: all 111ms ease-in-out;

//         & > svg {
//           fill: none;
//           height: 20px;
//           padding: 1px;
//           transition: all 111ms ease-in-out;
//           stroke: lightgray;
//           stroke-width: 12;
//         }

//         &:hover svg {
//           cursor: pointer;
//           stroke: tomato;
//         }
//       }
//     }

//     .recipe-title {
//       position: absolute;
//       bottom: 100px;
//       left: 20px;
//       color: white;
//       font-size: 1.5rem;
//       text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
//       text-transform: uppercase;
//       z-index: 1;
//     }

//     .recipe-details {
//       position: absolute;
//       bottom: 10px;
//       left: 20px;
//       color: white;
//       font-size: 0.9rem;
//       text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
//       display: flex;
//       align-items: center;

//       svg {
//         margin-right: 5px;
//       }
//     }
//   }

//   a.btn {
//     display: block;
//     background: $button;
//     color: $white;
//     position: relative;
//     text-transform: uppercase;
//     letter-spacing: 0.1em;
//     text-align: center;
//     padding: 10px;
//     transition: 250ms;

//     &:hover {
//       background: $heart;
//       transition: 


//     }
// }