*,
:before,
:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.row-limit-size {
  max-width: 1300px;
  width: 100%;
  margin: 0 auto;
}

body {
  padding: 10px;
  height: auto;
}

@font-face {
  font-family: "OpenSans-bold";
  src: url(../fonts/OpenSans-Bold.ttf);
}
@font-face {
  font-family: "OpenSans-Regular";
  src: url(../fonts/OpenSans-Regular.ttf);
}
header {
  max-width: 1300px;
  margin: 0 auto;
  height: 170px;
}
header .nav-header {
  width: 100%;
  height: 150px;
  display: flex;
}
header .nav-header .logo {
  width: 220px;
  text-align: center;
}
header .nav-header a img.img-logo {
  height: 130px;
}
header .nav-header span {
  font-family: "OpenSans-Regular", sans-serif;
  font-size: 0.8rem;
  font-style: italic;
  font-weight: 700;
}
header ul.menu {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-evenly;
}
header ul.menu li {
  list-style-type: none;
}
header ul.menu li a {
  font-family: "OpenSans-Bold", sans-serif;
  text-decoration: none;
  font-size: 1.2rem;
  color: black;
}
header ul.menu li a:hover {
  color: #b54f2c;
}
header ul.menu li #user-connect {
  width: 120px;
  height: 30px;
  border: none;
  border-radius: 20px;
  font-family: "OpenSans-Bold", sans-serif;
  text-decoration: none;
  font-size: 1.1rem;
  color: black;
  cursor: pointer;
  background-color: #ebded5;
}
header ul.menu li #user-connect:hover {
  opacity: 50%;
  color: #b54f2c;
}

.hr {
  align-items: center;
  display: flex;
  text-align: center;
  font-family: "OpenSans-Bold", sans-serif;
  color: #b54f2c;
  padding: 30px;
}
.hr::before, .hr::after {
  background: #b54f2c;
  content: "";
  flex: 1;
  height: 2px;
  margin: 0 0.5em;
}

.stretchHolder {
  width: 750px;
  height: 50px;
  margin: 30px auto 140px auto;
  position: relative;
  z-index: 100;
  font-family: "OpenSans-Bold", sans-serif;
}
.stretchHolder .stretchMenu {
  position: absolute;
  width: 750px;
  overflow: hidden;
}

.stretchDrop {
  list-style: none;
  width: 1150px;
  position: relative;
}
.stretchDrop > li.slide {
  float: left;
  width: 150px;
  transition: 0.8s;
}
.stretchDrop > li.slide > a {
  border-right: 1px solid #000;
}
.stretchDrop > li.last {
  float: left;
}
.stretchDrop > li > a {
  display: block;
  font-family: "OpenSans-Bold", sans-serif;
  font-style: italic;
  line-height: 50px;
  color: #000;
  text-decoration: none;
  font-size: 0.9rem;
  border-left: 2px solid #fff;
}
.stretchDrop li.p1 > div {
  background: #b54f2c;
}
.stretchDrop li.p2 > div {
  background: #c90;
}
.stretchDrop li.p3 > div {
  background: #0c9;
}
.stretchDrop li.p4 > div {
  background: #9c0;
}
.stretchDrop li.p5 > div {
  background: #f7953c;
}
.stretchDrop:hover {
  direction: ltr;
}
.stretchDrop:hover > li.slide {
  width: 70px;
  transition: 0.25s;
}
.stretchDrop:hover > li.slide:hover {
  width: 470px;
  transition: 0.25s;
}
.stretchDrop:hover > li:hover > div {
  height: 210px;
  transition: 0.3s 1s;
}
.stretchDrop > li > div {
  display: block;
  width: 469px;
  height: 50px;
  margin-top: -50px;
  overflow: hidden;
}
.stretchDrop > li > div dl {
  float: left;
  padding: 30px 10px;
  margin: 30px;
}
.stretchDrop > li > div dl dt {
  font-family: "OpenSans-Bold", sans-serif;
  font-size: 1rem;
  line-height: 25px;
  text-transform: uppercase;
}
.stretchDrop > li > div dl dt a {
  color: white;
  text-decoration: none;
}
.stretchDrop > li > div dl dd a {
  display: block;
  color: white;
  font-family: "OpenSans-Regular", sans-serif;
  font-size: 0.9rem;
  line-height: 20px;
  text-decoration: none;
  font-style: italic;
}
.stretchDrop > li > div dl dd a:hover {
  opacity: 50%;
}

#info.stretchDrop > li > div p {
  width: 404px;
  height: 30px;
  font-family: "OpenSans-Bold", sans-serif;
  background: #eee;
  position: absolute;
  bottom: 5px;
  left: 12px;
  padding: 0 20px;
  line-height: 30px;
  font-size: 0.9rem;
  margin: 0;
  border-radius: 30px;
}

.search-contain {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 2px solid #b54f2c;
  padding: 30px;
  border-radius: 20px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.search-title {
  font-size: 1.8rem;
  font-family: "OpenSans-Bold", sans-serif;
  text-align: center;
  font-style: italic;
  color: #f7953c;
}

.citation {
  font-size: 1.3rem;
  font-family: "OpenSans-Bold", sans-serif;
  font-style: italic;
  text-align: center;
  color: #b54f2c;
  padding: 30px;
}
.citation .name {
  font-size: 1.5rem;
  font-family: "OpenSans-Bold", sans-serif;
  text-transform: uppercase;
  color: #f7953c;
}

input,
button {
  border: none;
  background: none;
  outline: 0;
}

button {
  cursor: pointer;
}

.SearchBar-input::-moz-placeholder {
  color: white;
  font-style: italic;
  opacity: 0.6;
}

.SearchBar-input::placeholder {
  color: white;
  font-style: italic;
  opacity: 0.6;
}

.search-bar {
  height: 3em;
  display: flex;
  border-radius: 4em;
  background-color: #f7953c;
}
.search-bar:hover .SearchBar-input {
  padding-left: 2em;
  padding-right: 1em;
  width: 400px;
}
.search-bar .SearchBar-input {
  width: 0;
  font-size: 1.2em;
  color: white;
  transition: 0.45s;
}
.search-bar .SearchBar-button {
  display: flex;
  border-radius: 50%;
  width: 4em;
  height: 3.5em;
  background-color: #f7953c;
  transition: 0.3s;
}
.search-bar .SearchBar-button:active {
  transform: scale(0.85);
}
.search-bar .SearchBar-icon {
  margin: auto;
  color: #fff;
}

#recipes-section {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
#recipes-section .new-recipe {
  width: 100%;
  text-align: center;
  padding: 40px;
  font-style: italic;
  font-family: "OpenSans-Bold", sans-serif;
  font-size: 1.8rem;
  font-weight: 600;
}
#recipes-section .last-recipe {
  margin-bottom: 40px;
}
#recipes-section .last-recipe .card {
  width: 350px;
  margin-bottom: 20px;
  height: 400px;
  background-repeat: no-repeat;
  background-size: contain;
  position: relative;
  border: 1px solid gray;
  border-radius: 20px;
  display: flex;
  justify-content: center;
}
#recipes-section .last-recipe .card > a {
  height: 20px;
  text-decoration: none;
  text-align: center;
  color: black;
}
#recipes-section .last-recipe .card > a > .recipe-title {
  font-size: 1.2rem;
  font-family: "OpenSans-Bold", sans-serif;
  font-weight: 700;
  color: #eee;
  font-style: italic;
  padding: 20px;
}
#recipes-section .last-recipe .card:hover {
  box-shadow: 2px 6px 6px rgba(0, 0, 0, 0.2), -1px -1px 7px rgba(0, 0, 0, 0.2);
}
#recipes-section .last-recipe .card .food-info {
  background-color: white;
  bottom: 0;
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
#recipes-section .last-recipe .card .food-info .recipe-details {
  color: gray;
  font-size: 0.9rem;
  margin-bottom: 0.5em;
  font-family: "OpenSans-Bold", sans-serif;
}
#recipes-section .last-recipe .card .food-info > .icon {
  height: 30px;
  width: 30px;
  margin: 0 auto;
}
#recipes-section .last-recipe .card .food-info > .icon svg.favorite {
  height: 25px;
  width: 25px;
  fill: pink;
  stroke: pink;
  text-align: center;
}
#recipes-section .last-recipe .card .food-info > .icon:hover .favorite {
  stroke: red;
}
#recipes-section .last-recipe .btn {
  display: block;
  color: #f7953c;
  position: relative;
  font-family: "OpenSans-Bold", sans-serif;
  text-decoration: none;
  text-align: center;
  padding: 10px;
}
#recipes-section .last-recipe .btn:hover {
  opacity: 60%;
  color: #b54f2c;
}

.recommand {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
  height: auto;
  font-family: "OpenSans-Regular", sans-serif;
}
.recommand .title-recommand {
  width: 100%;
  text-align: center;
  padding: 40px;
  font-style: italic;
  font-family: "OpenSans-Bold", sans-serif;
  font-size: 1.8rem;
  font-weight: 600;
}
.recommand .wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  height: auto;
}
.recommand .card {
  width: 420px;
  height: 340px;
  margin: 1em;
  perspective: 1500px;
}
.recommand .card .content {
  position: relative;
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  transition: transform 0.8s cubic-bezier(0.75, 0, 0.85, 1);
}
.recommand .more {
  display: none;
}
.recommand .more:checked ~ .content {
  transform: rotateY(180deg);
}
.recommand .front,
.recommand .back {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  transform-style: preserve-3d;
  border-radius: 6px;
}
.recommand .front .inner,
.recommand .back .inner {
  height: 100%;
  display: grid;
  padding: 1.5em;
  transform: translateZ(80px) scale(0.94);
}
.recommand .front {
  background-color: #fff;
  background-size: cover;
  background-position: center center;
}
.recommand .front:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: block;
  border-radius: 6px;
}
.recommand .front .inner {
  grid-template-rows: 5fr 1fr 1fr 2fr 1fr;
  justify-items: center;
}
.recommand .front h2 {
  grid-row: 2;
  font-size: 1.8rem;
  margin-bottom: 0.3em;
  text-transform: uppercase;
  letter-spacing: 3px;
  color: black;
  font-weight: 700;
  text-align: center;
  text-shadow: 3px 3px 2px rgb(215, 90, 27);
}
.recommand .back {
  transform: rotateY(180deg);
  background-color: #fff;
  border: 2px solid rgb(240, 240, 240);
}
.recommand .back .inner {
  grid-template-rows: 1fr 2fr 1fr 2fr 14fr 1fr 1fr;
  grid-template-columns: repeat(3, auto);
  grid-column-gap: 0.8em;
  justify-items: center;
}
.recommand .back .info {
  position: relative;
  display: flex;
  align-items: center;
  color: orange;
  flex-direction: column;
}
.recommand .back:not(:first-of-type):before {
  content: "";
  position: absolute;
  left: -0.9em;
  height: 18px;
  width: 1px;
  background-color: #ccc;
}
.recommand .back span {
  font-weight: 700;
}
.recommand .description {
  grid-row: 5;
  grid-column: 1/-1;
  font-size: 0.86em;
  border-radius: 5px;
  font-weight: 600;
  line-height: 1.4em;
  overflow: auto;
  color: #b54f2c;
  padding-right: 10px;
}
.recommand .button {
  grid-column: 1/-1;
  justify-self: center;
}

.button {
  grid-row: -1;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 600;
  cursor: pointer;
  display: block;
  padding: 0 1.5em;
  height: 3em;
  line-height: 2.9em;
  min-width: 3em;
  background-color: transparent;
  border: solid 2px #b54f2c;
  color: #f7953c;
  border-radius: 4px;
  text-align: center;
  left: 50%;
  backface-visibility: hidden;
  transition: 0.3s ease-in-out;
  text-shadow: 0 0 6px rgba(0, 0, 0, 0.3);
}
.button:hover {
  background-color: #fff;
  box-shadow: 0 0 50px rgba(0, 0, 0, 0.5);
  text-shadow: none;
  color: #f7953c;
}
.button.return {
  line-height: 3em;
  color: #f7953c;
  border-color: #b54f2c;
  text-shadow: none;
}
.button.return:hover {
  background-color: #f7953c;
  color: #fff;
  box-shadow: none;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #d0d3da;
}

::-webkit-scrollbar-thumb:hover {
  background: #989eac;
}

.slide-show {
  width: 100%;
  height: 100px;
}
.slide-show .pagination {
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
  margin-top: 60px;
  padding: 10px;
  background-color: #fff;
  border-radius: 40px;
  box-shadow: 0 5px 25px 0 rgba(0, 0, 0, 0.5);
}
.slide-show .pagination li {
  display: inline-block;
  list-style: none;
}
.slide-show .pagination li a {
  display: block;
  width: 40px;
  height: 40px;
  line-height: 40px;
  font-family: "OpenSans-Bold", sans-serif;
  background-color: #fff;
  text-align: center;
  text-decoration: none;
  color: #252525;
  border-radius: 4px;
  margin: 5px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
  transition: all 0.3s ease;
}
.slide-show .pagination li a:hover {
  color: #fff;
  background-color: #f7953c;
}
.slide-show .pagination li a:first-child a {
  border-radius: 40px 0 0 40px;
}
.slide-show .pagination li a:last-child a {
  border-radius: 0 40px 40px 0;
}

.contact {
  width: 100%;
  height: auto;
}
.contact .ask-questions {
  width: 100%;
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #f7953c;
  margin-top: 60px;
}
.contact .ask-questions .needs {
  font-size: 2rem;
  color: white;
  font-family: "OpenSans-Bold", sans-serif;
  text-align: center;
  padding-top: 50px;
}
.contact .ask-questions #btn-contact-us {
  width: 120px;
  height: 35px;
  margin-top: 40px;
  font-family: "OpenSans-Bold", sans-serif;
  text-transform: uppercase;
  background-color: white;
  border: 0.1em solid #b54f2c;
  text-shadow: 0 0.04em 0.04em rgba(0, 0, 0, 0.35);
  color: #000;
  text-align: center;
  border-radius: 20px;
  transition: all 0.2s;
}
.contact .ask-questions #btn-contact-us:hover {
  text-shadow: 0 0 2em rgb(255, 255, 255);
  color: black;
  border-color: #f7953c;
}

.footer-contain {
  width: 100%;
  height: 150px;
  background-color: #252525;
  position: relative;
  bottom: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  align-content: center;
}
.footer-contain .logo-m {
  width: 150px;
  height: 120px;
}
.footer-contain .logo-m > img.foot-logo {
  width: 140px;
  height: 140px;
}
.footer-contain .links {
  width: 400px;
  height: 50px;
}
.footer-contain .links > a {
  font-size: 1rem;
  font-family: "OpenSans-Regular", sans-serif;
  font-style: italic;
  color: #ccc;
  padding: 20px;
  text-decoration: none;
}
.footer-contain .social-media {
  display: flex;
  justify-content: flex-end;
}
.footer-contain .social-media a {
  width: 50px;
  height: 50px;
  margin-left: 10px;
}
.footer-contain .social-media a:first-child {
  margin-left: 0;
}
.footer-contain .social-media a .social {
  width: 50px;
  height: 50px;
}

.copyright {
  width: 100%;
  height: 20px;
  font-size: 0.8rem;
  font-family: "OpenSans-Bold", sans-serif;
  color: white;
  background-color: #252525;
  text-align: center;
}/*# sourceMappingURL=style.css.map */