*,
before,
after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.row-limit-size {
  max-width: 1300px;
  width: 100%;
  margin: 0 auto;
}

body {
  padding: 10px;
  height: auto;
}

@font-face {
  font-family: "OpenSans-bold";
  src: url(../fonts/OpenSans-Bold.ttf);
}
@font-face {
  font-family: "OpenSans-Regular";
  src: url(../fonts/OpenSans-Regular.ttf);
}
header {
  max-width: 1300px;
  margin: 0 auto;
  height: 170px;
}
header .nav-header {
  width: 100%;
  height: 150px;
  display: flex;
}
header .nav-header .logo {
  width: 220px;
  text-align: center;
}
header .nav-header a img.img-logo {
  height: 130px;
}
header .nav-header span {
  font-family: "OpenSans-Regular", sans-serif;
  font-size: 0.8rem;
  font-style: italic;
  font-weight: 700;
}
header ul.menu {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-evenly;
}
header ul.menu li {
  list-style-type: none;
}
header ul.menu li a {
  font-family: "OpenSans-Bold";
  text-decoration: none;
  font-size: 1rem;
  color: black;
}
header ul.menu li a:hover {
  color: #b54f2c;
}
header ul.menu li #user-connect {
  width: 120px;
  height: 30px;
  border: none;
  border-radius: 20px;
  font-family: "OpenSans-Bold";
  text-decoration: none;
  font-size: 1rem;
  color: black;
  cursor: pointer;
  background-color: #ebded5;
}
header ul.menu li #user-connect:hover {
  opacity: 50%;
  color: #b54f2c;
}

.hr {
  align-items: center;
  display: flex;
  text-align: center;
  font-family: "OpenSans-Bold", sans-serif;
  color: #b54f2c;
}
.hr::before, .hr::after {
  background: #b54f2c;
  content: "";
  flex: 1;
  height: 2px;
  margin: 0 0.5em;
}

.stretchHolder {
  width: 750px;
  height: 50px;
  margin: 30px auto 250px auto;
  position: relative;
  z-index: 100;
  font-family: "OpenSans-Bold", sans-serif;
}
.stretchHolder .stretchMenu {
  position: absolute;
  width: 750px;
  overflow: hidden;
}

.stretchDrop {
  list-style: none;
  width: 1150px;
  position: relative;
}
.stretchDrop > li.slide {
  float: left;
  width: 150px;
  transition: 0.8s;
}
.stretchDrop > li.slide > a {
  border-right: 1px solid #000;
}
.stretchDrop > li.last {
  float: left;
}
.stretchDrop > li > a {
  display: block;
  font-family: "OpenSans-Bold", sans-serif;
  font-style: italic;
  line-height: 50px;
  color: #000;
  text-decoration: none;
  font-size: 0.9rem;
  border-left: 2px solid #fff;
}
.stretchDrop li.p1 > div {
  background: #b54f2c;
}
.stretchDrop li.p2 > div {
  background: #c90;
}
.stretchDrop li.p3 > div {
  background: #0c9;
}
.stretchDrop li.p4 > div {
  background: #9c0;
}
.stretchDrop li.p5 > div {
  background: #f7953c;
}
.stretchDrop:hover {
  direction: ltr;
}
.stretchDrop:hover > li.slide {
  width: 70px;
  transition: 0.25s;
}
.stretchDrop:hover > li.slide:hover {
  width: 470px;
  transition: 0.25s;
}
.stretchDrop:hover > li:hover > div {
  height: 210px;
  transition: 0.3s 1s;
}
.stretchDrop > li > div {
  display: block;
  width: 469px;
  height: 50px;
  margin-top: -50px;
  overflow: hidden;
}
.stretchDrop > li > div dl {
  float: left;
  padding: 30px 10px;
  margin: 30px;
}
.stretchDrop > li > div dl dt {
  font-family: "OpenSans-Bold", sans-serif;
  font-size: 1rem;
  line-height: 25px;
  text-transform: uppercase;
}
.stretchDrop > li > div dl dt a {
  color: white;
  text-decoration: none;
}
.stretchDrop > li > div dl dd a {
  display: block;
  color: white;
  font-family: "OpenSans-Regular", sans-serif;
  font-size: 0.9rem;
  line-height: 20px;
  text-decoration: none;
  font-style: italic;
}
.stretchDrop > li > div dl dd a:hover {
  opacity: 50%;
}

#info.stretchDrop > li > div p {
  width: 404px;
  height: 30px;
  font-family: "OpenSans-Bold", sans-serif;
  background: #eee;
  position: absolute;
  bottom: 5px;
  left: 12px;
  padding: 0 20px;
  line-height: 30px;
  font-size: 0.9rem;
  margin: 0;
  border-radius: 30px;
}/*# sourceMappingURL=style.css.map */