{% extends "template.html.twig" %}

{% set style = '/projets/mamoun-veggie/asset/' %}

{% block stylesheets %}
  <link href="{{ style }}connect.css" rel="stylesheet" />
{% endblock %}

{% block content %}
  <div class="cont">
    <div class="form sign-in">
      <h2>Ravi de vous revoir,</h2>
      <form action="../model/Model.php" method="post">
      <label>
        <span>Email</span>
        <input type="email" />
      </label>
      <label>
        <span>MOT DE PASSE</span>
        <input type="password" />
      </label>
      <p class="forgot-pass">Mot de passe oublié ?</p>
      <button type="button" class="submit">Se connecter</button>
      <button type="button" class="fb-btn"><a href="https://fr-fr.facebook.com/login/web/">Connexion avec <span>facebook</span></a> </button>
      <button type="button" class="gmail-btn"><a href="https://www.google.com/intl/fr/gmail/about/"> Connexion avec <span>Gmail</span></a></button>
      <button type="button" class="apple-btn"><a href="https://www.icloud.com/">Connexion avec <span>Apple</span></a></button>
   </div>
    </form>
    <div class="sub-cont">
      <div class="img">
        <div class="img__text m--up">
          <h2>Nouveau?</h2>
          <p>Rejoignez la team du site <br> Mamoun Veggie!!</p>
        </div>
        <div class="img__text m--in">
          <h2>Déjà inscrit?</h2>
          <p>Si vous possédez un compte! <br> C'est par ici !!</p>
        </div>
        <div class="img__btn">
          <span class="m--up">Inscription</span>
          <span class="m--in">Connexion</span>
        </div>
      </div>
      <div class="form sign-up">
      <form action="#" method="post">
        <label>
          <span>NOM</span>
          <input type="text" />
        </label>
        <label>
          <span>Email</span>
          <input type="email" />
        </label>
        <label>
          <span>Password</span>
          <input type="password" />
        </label>
        <button type="button" class="submit">S'inscrire</button>
        <button type="button" class="fb-btn"><a href="https://fr-fr.facebook.com/login/web/">Connexion avec <span>facebook</span></a></button>
        <button type="button" class="gmail-btn"><a href="https://www.google.com/intl/fr/gmail/about/">Connexion avec <span>Gmail</span></a></button>
        <button type="button" class="apple-btn"><a href="https://www.icloud.com/">Connexion avec <span>Apple</span></a></button>

        </form>
      </div>
    </div>
  </div>
{% endblock %}

{% block javascript %}
  <script src="{{ javascript }}main.js"></script>
{% endblock %}
