{% extends "template.html.twig" %}

{% block title %} Mamoun Veggie {% endblock %}


    
   {% block stylesheet %}{% endblock %}

{% block content %}

{# ******************************MENU DEROULANT **************************** #}
<main>
<div class="row-limit-size">
<div id="info">
<div class="stretchHolder">
<div class="stretchMenu">
	<ul class="stretchDrop">
	<!-- item 1 -->
	<li class="slide p1"><a href="#url">APERO</a>
    <div>
		<dl><!-- sous menu 1 -->
		<dt><a href="#url">Froid</a></dt>
		<dd><a href="url">Houmous épicé</a></dd>
		<dd><a href="url">Model </a></dd>
		<dd><a href="url">Model </a></dd>
		<dd><a href="url">Model </a></dd>
		<dd><a href="url">Model </a></dd>
		<dd><a href="url">Model</a></dd>
		</dl>
		
		<dl><!-- sous menu 2 -->
		<dt><a href="#url">Chaud</a></dt>
		<dd><a href="url">Gougères faciles</a></dd>
		<dd><a href="url">Model</a></dd>
		<dd><a href="url">Model</a></dd>
		<dd><a href="url">Model</a></dd>
		<dd><a href="url">Model</a></dd>
		<dd><a href="url">Model</a></dd>
		</dl>

	</div>
		
	</li>
	<!-- item 2 -->
	<li class="slide p2"><a href="#url">BOISSONS</a>
	<div>
		<dl><!-- sous menu 1 -->

		<dt><a href="#url">Sans Alcool</a></dt>
		<dd><a href="url">Model #1</a></dd>
		<dd><a href="url">Model #2</a></dd>
		<dd><a href="url">Model #3</a></dd>
		<dd><a href="url">Model #4</a></dd>
		<dd><a href="url">Model #5</a></dd>
		<dd><a href="url">Model #6</a></dd>
		</dl>

		<dl><!-- sous menu 2 -->
		<dt><a href="#url">Avec alcool</a></dt>
		<dd><a href="url">Model</a></dd>
		<dd><a href="url">Model</a></dd>
		<dd><a href="url">Model</a></dd>
		<dd><a href="url">Model</a></dd>
		<dd><a href="url">Model</a></dd>
		<dd><a href="url">Model</a></dd>
		</dl>

		<dl><!-- sous menu 3 -->
		<dt><a href="#url">Végétale</a></dt>
		<dd><a href="url">Model</a></dd>
		<dd><a href="url">Model</a></dd>
		<dd><a href="url">Model</a></dd>
		<dd><a href="url">Model</a></dd>
		<dd><a href="url">Model</a></dd>
		<dd><a href="url">Model</a></dd>
		</dl>
		
	</div>
	</li>
	<!-- item 3 -->
	<li class="slide p3"><a href="#url">ENTREES</a>
	<div>
		<dl>
		<dt><a href="#url">Chaudes</a></dt>
		<dd><a href="url">Model #1</a></dd>
		<dd><a href="url">Model #2</a></dd>
		<dd><a href="url">Model #3</a></dd>
		<dd><a href="url">Model #4</a></dd>
		<dd><a href="url">Model #5</a></dd>
		<dd><a href="url">Model #6</a></dd>
		</dl>
		<dl>
		<dt><a href="#url">Froides</a></dt>
		<dd><a href="url">Model</a></dd>
		<dd><a href="url">Model</a></dd>
		<dd><a href="url">Model</a></dd>
		<dd><a href="url">Model</a></dd>
		<dd><a href="url">Model</a></dd>
		<dd><a href="url">Model</a></dd>
		</dl>
		<dl>
		
	</div>
	</li>

	<!-- item 4 -->
	<li class="slide p4"><a href="#url">PLATS</a>
	<div>
		<dl>
		<dt><a href="#url">Végétariens</a></dt>
		<dd><a href="url">Model #1</a></dd>
		<dd><a href="url">Model #2</a></dd>
		<dd><a href="url">Model #3</a></dd>
		<dd><a href="url">Model #4</a></dd>
		<dd><a href="url">Model #5</a></dd>
		<dd><a href="url">Model #6</a></dd>
		</dl>
		<dl>
		<dt><a href="#url">Végan</a></dt>
		<dd><a href="url">Model</a></dd>
		<dd><a href="url">Model</a></dd>
		<dd><a href="url">Model</a></dd>
		<dd><a href="url">Model</a></dd>
		<dd><a href="url">Model</a></dd>
		<dd><a href="url">Model</a></dd>
		</dl>
		<dl>
		
	</div>
	</li>

	<!-- item 5 -->
	<li class="last p5"><a href="#url">DESSERTS</a>
	<div>
		<dl>
		<dt><a href="#url">Chocolat</a></dt>
		<dd><a href="url">Model #1</a></dd>
		<dd><a href="url">Model #2</a></dd>
		<dd><a href="url">Model #3</a></dd>
		<dd><a href="url">Model #4</a></dd>
		<dd><a href="url">Model #5</a></dd>
		<dd><a href="url">Model #6</a></dd>
		</dl>
		<dl>
		<dt><a href="#url">Tartes</a></dt>
		<dd><a href="url">Model</a></dd>
		<dd><a href="url">Modelo</a></dd>
		<dd><a href="url">Modele</a></dd>
		<dd><a href="url">Model</a></dd>
		<dd><a href="url">Model</a></dd>
		<dd><a href="url">Modele</a></dd>
		</dl>
		<dl>
		<dt><a href="#url">Autres</a></dt>
		<dd><a href="url">Modele</a></dd>
		<dd><a href="url">Model</a></dd>
		<dd><a href="url">Model</a></dd>
		<dd><a href="url">Model</a></dd>
		<dd><a href="url">Model</a></dd>
		<dd><a href="url">Model</a></dd>
		
		</dl>
		
	</div>
	</li>
</ul>
</div>
</div>
</div>

{# *****************************END MENU DEROULANT *************************** #}

{#----------------------------BARRE DE RECHERCHE--------------------------------  #}
<section class="search-contain">

<h1 class="search-title">Citation</h1>
<p class="citation">La vraie cuisine est une forme d'art.Un cadeau à partager.<br>
<span class="name">Oprah Winfrey</span></p>

<div class="search-bar">
	<input type="text" class="SearchBar-input" placeholder="Rechercher votre recette">
	
			<button class="SearchBar-button">
				<i class="SearchBar-icon  material-icons">search</i>
			</button>


</div>

</section>

{#-----------------------END BARRE DE RECHERCHE ------------------  #}

{# ------------------- --DERNIERES RECETTES -------------------------- #}

<section class="last-recipe">

<h1 class="new-recipe">Les dernières recettes</h1>

<div class="card">
 
  <div class="food-info">
    <p>Nouilles sautées
      <br/><span>aux petits légumes</span></p>
    <div class="favorite">
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 93.3 80.6"><path d="M86.2 7c-9.4-9.4-24.6-9.4-33.9 0l-5.7 5.7L41 7C31.6-2.3 16.4-2.3 7 7c-9.3 9.4-9.3 24.6 0 34l5.7 5.7 33.9 33.9 33.9-33.9 5.7-5.7c9.4-9.4 9.4-24.6 0-34z"/></svg>
    </div>
  </div>
</div>
{# <div class="card">
   <div class="header">
      <div class="icon">
    
    <a href="#"><img class="icons" src="{{ ('img/favori.svg') }}" alt="Logo"></a>
    
  </div>
</div>

   <div class="text">
      <h2 class="food">
         Nouilles sautées
      </h2>

    	<i class="fa-light fa-clock">15 Mins</i>
   		<i class="fa-light fa-users">2 pers </i> 
      
    <p class="info">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Earum, temporibus.</p>

   </div>
   <a href="#" class="btn">A vous de jouer!</a>
</div>




 #}




</section>








</div>











</main>






 {% endblock %}
