{% extends "template.html.twig" %}

{% block title %} Mamoun Veggie {% endblock %}


    
   {% block stylesheet %}{% endblock %}
    {% block javascripts %} {% endblock %}

{% block content %}

{# ******************************MENU DEROULANT **************************** #}
<main>

<div class="row-limit-size">

<div id="info">
<div class="stretchHolder">
<div class="stretchMenu">
	<ul class="stretchDrop">
	<!-- item 1 -->
	<li class="slide p1"><a href="#url">APERO</a>
    <div>
		<dl><!-- sous menu 1 -->
		<dt><a href="#url">Froid</a></dt>
		<dd><a href="url">Houmous épicé</a></dd>
		<dd><a href="url">Model </a></dd>
		<dd><a href="url">Model </a></dd>
		<dd><a href="url">Model </a></dd>
		<dd><a href="url">Model </a></dd>
		<dd><a href="url">Model</a></dd>
		</dl>
		
		<dl><!-- sous menu 2 -->
		<dt><a href="#url">Chaud</a></dt>
		<dd><a href="url">Gougères faciles</a></dd>
		<dd><a href="url">Model</a></dd>
		<dd><a href="url">Model</a></dd>
		<dd><a href="url">Model</a></dd>
		<dd><a href="url">Model</a></dd>
		<dd><a href="url">Model</a></dd>
		</dl>

	</div>
		
	</li>
	<!-- item 2 -->
	<li class="slide p2"><a href="#url">BOISSONS</a>
	<div>
		<dl><!-- sous menu 1 -->

		<dt><a href="#url">Sans Alcool</a></dt>
		<dd><a href="url">Model #1</a></dd>
		<dd><a href="url">Model #2</a></dd>
		<dd><a href="url">Model #3</a></dd>
		<dd><a href="url">Model #4</a></dd>
		<dd><a href="url">Model #5</a></dd>
		<dd><a href="url">Model #6</a></dd>
		</dl>

		<dl><!-- sous menu 2 -->
		<dt><a href="#url">Avec alcool</a></dt>
		<dd><a href="url">Model</a></dd>
		<dd><a href="url">Model</a></dd>
		<dd><a href="url">Model</a></dd>
		<dd><a href="url">Model</a></dd>
		<dd><a href="url">Model</a></dd>
		<dd><a href="url">Model</a></dd>
		</dl>

		<dl><!-- sous menu 3 -->
		<dt><a href="#url">Végétale</a></dt>
		<dd><a href="url">Model</a></dd>
		<dd><a href="url">Model</a></dd>
		<dd><a href="url">Model</a></dd>
		<dd><a href="url">Model</a></dd>
		<dd><a href="url">Model</a></dd>
		<dd><a href="url">Model</a></dd>
		</dl>
		
	</div>
	</li>
	<!-- item 3 -->
	<li class="slide p3"><a href="#url">ENTREES</a>
	<div>
		<dl>
		<dt><a href="#url">Chaudes</a></dt>
		<dd><a href="url">Model #1</a></dd>
		<dd><a href="url">Model #2</a></dd>
		<dd><a href="url">Model #3</a></dd>
		<dd><a href="url">Model #4</a></dd>
		<dd><a href="url">Model #5</a></dd>
		<dd><a href="url">Model #6</a></dd>
		</dl>
		<dl>
		<dt><a href="#url">Froides</a></dt>
		<dd><a href="url">Model</a></dd>
		<dd><a href="url">Model</a></dd>
		<dd><a href="url">Model</a></dd>
		<dd><a href="url">Model</a></dd>
		<dd><a href="url">Model</a></dd>
		<dd><a href="url">Model</a></dd>
		</dl>

	</div>	
	</li>
	

	<!-- item 4 -->
	<li class="slide p4"><a href="#url">PLATS</a>
	<div>
		<dl>
		<dt><a href="#url">Végétariens</a></dt>
		<dd><a href="url">Model #1</a></dd>
		<dd><a href="url">Model #2</a></dd>
		<dd><a href="url">Model #3</a></dd>
		<dd><a href="url">Model #4</a></dd>
		<dd><a href="url">Model #5</a></dd>
		<dd><a href="url">Model #6</a></dd>
		</dl>
		<dl>
		<dt><a href="#url">Végan</a></dt>
		<dd><a href="url">Model</a></dd>
		<dd><a href="url">Model</a></dd>
		<dd><a href="url">Model</a></dd>
		<dd><a href="url">Model</a></dd>
		<dd><a href="url">Model</a></dd>
		<dd><a href="url">Model</a></dd>
		</dl>
		
		
	</div>
	</li>

	<!-- item 5 -->
	<li class="last p5"><a href="#url">DESSERTS</a>
	<div>
		<dl>
		<dt><a href="#url">Chocolat</a></dt>
		<dd><a href="url">Model #1</a></dd>
		<dd><a href="url">Model #2</a></dd>
		<dd><a href="url">Model #3</a></dd>
		<dd><a href="url">Model #4</a></dd>
		<dd><a href="url">Model #5</a></dd>
		<dd><a href="url">Model #6</a></dd>
		</dl>
		<dl>
		<dt><a href="#url">Tartes</a></dt>
		<dd><a href="url">Model</a></dd>
		<dd><a href="url">Modelo</a></dd>
		<dd><a href="url">Modele</a></dd>
		<dd><a href="url">Model</a></dd>
		<dd><a href="url">Model</a></dd>
		<dd><a href="url">Modele</a></dd>
		</dl>
		
		<dl>
		<dt><a href="#url">Autres</a></dt>
		<dd><a href="url">Modele</a></dd>
		<dd><a href="url">Model</a></dd>
		<dd><a href="url">Model</a></dd>
		<dd><a href="url">Model</a></dd>
		<dd><a href="url">Model</a></dd>
		<dd><a href="url">Model</a></dd>
		
		</dl>
		
	</div>
	</li>
</ul>
</div>
</div>
</div>


{# *****************************END MENU DEROULANT *************************** #}

{#----------------------------BARRE DE RECHERCHE--------------------------------  #}
<section class="search-contain">

<h1 class="search-title">Citation</h1>
<p class="citation">La vraie cuisine est une forme d'art.Un cadeau à partager.<br>
<span class="name">Oprah Winfrey</span></p>

<div class="search-bar">
	<input type="text" class="SearchBar-input" placeholder="Rechercher votre recette">
	
			<button class="SearchBar-button">
				<i class="SearchBar-icon  material-icons">search</i>
			</button>


</div>

</section>

{#-----------------------END BARRE DE RECHERCHE ------------------  #}

{# ------------------- --DERNIERES RECETTES -------------------------- #}

<div class="last-recipe">

  <h2 class="new-recipe">Les dernières recettes</h2>

  <div class="card">
    <div class="food-info">
      <h2 class="recipe-title">Nouilles sautées aux légumes</h2>
      <p class="recipe-details">
        <span>Temps de préparation: 20 min</span><br>
        <span>Nombre de personnes: 2</span>
      </p>
      <div class="icon">
        <svg class="favorite" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
          <path d="M12 21.5l-1.27-1.14C4.3 14.33 1.5 11.07 1.5 7.5 1.5 4.42 3.92 2 7 2c2.02 0 3.91 1.11 5 2.5C12.09 3.11 13.98 2 16 2c3.08 0 5.5 2.42 5.5 5.5 0 3.57-2.8 6.83-9.23 12.86L12 21.5z"/>
        </svg>
       
      </div>

	  <a href="#" class="btn">Voir la recette</a>
    </div>
 

 <div class="card">
    <div class="food-info">
      <h2 class="recipe-title">Tortilla aux falafels</h2>
      <p class="recipe-details">
        <span>Temps de préparation: 20 min</span><br>
        <span>Nombre de personnes: 2</span>
      </p>
      <div class="icon">
        <svg class="favorite" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
          <path d="M12 21.5l-1.27-1.14C4.3 14.33 1.5 11.07 1.5 7.5 1.5 4.42 3.92 2 7 2c2.02 0 3.91 1.11 5 2.5C12.09 3.11 13.98 2 16 2c3.08 0 5.5 2.42 5.5 5.5 0 3.57-2.8 6.83-9.23 12.86L12 21.5z"/>
        </svg>
       
      </div>

	  <a href="#" class="btn">Voir la recette</a>
    </div>
 

 <div class="card">
    <div class="food-info">
      <h2 class="recipe-title">Nouilles sautées aux légumes</h2>
      <p class="recipe-details">
        <span>Temps de préparation: 20 min</span><br>
        <span>Nombre de personnes: 2</span>
      </p>
      <div class="icon">
        <svg class="favorite" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
          <path d="M12 21.5l-1.27-1.14C4.3 14.33 1.5 11.07 1.5 7.5 1.5 4.42 3.92 2 7 2c2.02 0 3.91 1.11 5 2.5C12.09 3.11 13.98 2 16 2c3.08 0 5.5 2.42 5.5 5.5 0 3.57-2.8 6.83-9.23 12.86L12 21.5z"/>
        </svg>
       
      </div>

	  <a href="#" class="btn">Voir la recette</a>
    </div>
 

  
 </div>
</div>








</main>






 {% endblock %}
