{% extends "template.html.twig" %}


{% block title %} Mamoun Veggie {% endblock %}

{% block content %}

<div id="info">
<div class="stretchHolder">
<div class="stretchMenu">
	<ul class="stretchDrop">
	<!-- item 1 -->
	<li class="slide p1"><a href="#url">APERO</a>
    <div>
		<dl><!-- sous menu 1 -->
		<dt><a href="#url">Froid</a></dt>
		<dd><a href="url">Houmous épicé</a></dd>
		<dd><a href="url">Model </a></dd>
		<dd><a href="url">Model </a></dd>
		<dd><a href="url">Model </a></dd>
		<dd><a href="url">Model </a></dd>
		<dd><a href="url">Model</a></dd>
		</dl>
		
		<dl><!-- sous menu 2 -->
		<dt><a href="#url">Chaud</a></dt>
		<dd><a href="url">Gougères faciles</a></dd>
		<dd><a href="url">Model</a></dd>
		<dd><a href="url">Model</a></dd>
		<dd><a href="url">Model</a></dd>
		<dd><a href="url">Model</a></dd>
		<dd><a href="url">Model</a></dd>
		</dl>

	</div>
		
	</li>
	<!-- item 2 -->
	<li class="slide p2"><a href="#url">BOISSONS</a>
	<div>
		<dl><!-- sous menu 1 -->

		<dt><a href="#url">Sans Alcool</a></dt>
		<dd><a href="url">Model #1</a></dd>
		<dd><a href="url">Model #2</a></dd>
		<dd><a href="url">Model #3</a></dd>
		<dd><a href="url">Model #4</a></dd>
		<dd><a href="url">Model #5</a></dd>
		<dd><a href="url">Model #6</a></dd>
		</dl>

		<dl><!-- sous menu 2 -->
		<dt><a href="#url">Avec alcool</a></dt>
		<dd><a href="url">Model</a></dd>
		<dd><a href="url">Model</a></dd>
		<dd><a href="url">Model</a></dd>
		<dd><a href="url">Model</a></dd>
		<dd><a href="url">Model</a></dd>
		<dd><a href="url">Model</a></dd>
		</dl>

		<dl><!-- sous menu 3 -->
		<dt><a href="#url">Végétale</a></dt>
		<dd><a href="url">Model</a></dd>
		<dd><a href="url">Model</a></dd>
		<dd><a href="url">Model</a></dd>
		<dd><a href="url">Model</a></dd>
		<dd><a href="url">Model</a></dd>
		<dd><a href="url">Model</a></dd>
		</dl>
		
	</div>
	</li>
	<!-- item 3 -->
	<li class="slide p3"><a href="#url">ENTREES</a>
	<div>
		<dl>
		<dt><a href="#url">Chaudes</a></dt>
		<dd><a href="url">Model #1</a></dd>
		<dd><a href="url">Model #2</a></dd>
		<dd><a href="url">Model #3</a></dd>
		<dd><a href="url">Model #4</a></dd>
		<dd><a href="url">Model #5</a></dd>
		<dd><a href="url">Model #6</a></dd>
		</dl>
		<dl>
		<dt><a href="#url">Froides</a></dt>
		<dd><a href="url">Model</a></dd>
		<dd><a href="url">Model</a></dd>
		<dd><a href="url">Model</a></dd>
		<dd><a href="url">Model</a></dd>
		<dd><a href="url">Model</a></dd>
		<dd><a href="url">Model</a></dd>
		</dl>
		<dl>
		
	</div>
	</li>

	<!-- item 4 -->
	<li class="slide p4"><a href="#url">PLATS</a>
	<div>
		<dl>
		<dt><a href="#url">Végétariens</a></dt>
		<dd><a href="url">Model #1</a></dd>
		<dd><a href="url">Model #2</a></dd>
		<dd><a href="url">Model #3</a></dd>
		<dd><a href="url">Model #4</a></dd>
		<dd><a href="url">Model #5</a></dd>
		<dd><a href="url">Model #6</a></dd>
		</dl>
		<dl>
		<dt><a href="#url">Végan</a></dt>
		<dd><a href="url">Model</a></dd>
		<dd><a href="url">Model</a></dd>
		<dd><a href="url">Model</a></dd>
		<dd><a href="url">Model</a></dd>
		<dd><a href="url">Model</a></dd>
		<dd><a href="url">Model</a></dd>
		</dl>
		<dl>
		
	</div>
	</li>

	<!-- item 5 -->
	<li class="last p5"><a href="#url">DESSERTS</a>
	<div>
		<dl>
		<dt><a href="#url">Chocolat</a></dt>
		<dd><a href="url">Model #1</a></dd>
		<dd><a href="url">Model #2</a></dd>
		<dd><a href="url">Model #3</a></dd>
		<dd><a href="url">Model #4</a></dd>
		<dd><a href="url">Model #5</a></dd>
		<dd><a href="url">Model #6</a></dd>
		</dl>
		<dl>
		<dt><a href="#url">Tartes</a></dt>
		<dd><a href="url">Model</a></dd>
		<dd><a href="url">Modelo</a></dd>
		<dd><a href="url">Modele</a></dd>
		<dd><a href="url">Model</a></dd>
		<dd><a href="url">Model</a></dd>
		<dd><a href="url">Modele</a></dd>
		</dl>
		<dl>
		<dt><a href="#url">Autres</a></dt>
		<dd><a href="url">Modele</a></dd>
		<dd><a href="url">Model</a></dd>
		<dd><a href="url">Model</a></dd>
		<dd><a href="url">Model</a></dd>
		<dd><a href="url">Model</a></dd>
		<dd><a href="url">Model</a></dd>
		
		</dl>
		
	</div>
	</li>
</ul>
</div>
</div>
</div>


 {% endblock %}
