{% extends "template.html.twig" %}


{% block title %} Mamoun Veggie {% endblock %}

{% block content %}

<div id="info">
<div class="stretchHolder">
<div class="stretchMenu">
	<ul class="stretchDrop">
	<!-- item 1 -->
	<li class="slide p1"><a href="#url">APERO</a>
    <div>
		<dl><!-- sous menu 1 -->
		<dt>Froid</dt>
		<dd><a href="url">Model</a></dd>
		<dd><a href="url">Model </a></dd>
		<dd><a href="url">Model </a></dd>
		<dd><a href="url">Model </a></dd>
		<dd><a href="url">Model </a></dd>
		<dd><a href="url">Model</a></dd>
		</dl>
		
		<dl><!-- sous menu 2 -->
		<dt>Chaud</dt>
		<dd><a href="url"></a></dd>
		<dd><a href="url">Model</a></dd>
		<dd><a href="url">Model</a></dd>
		<dd><a href="url">Model</a></dd>
		<dd><a href="url">Model</a></dd>
		<dd><a href="url">Model</a></dd>
		</dl>
		</div>
		
	</li>
	<!-- item 2 -->
	<li class="slide p2"><a href="#url">BOISSONS</a><div>
		<dl><!-- sous menu 1 -->

		<dt>Sans Alcool</dt>
		<dd><a href="url">Model #1</a></dd>
		<dd><a href="url">Model #2</a></dd>
		<dd><a href="url">Model #3</a></dd>
		<dd><a href="url">Model #4</a></dd>
		<dd><a href="url">Model #5</a></dd>
		<dd><a href="url">Model #6</a></dd>
		</dl>

		<dl><!-- sous menu 2 -->
		<dt>Avec alcool</dt>
		<dd><a href="url">Model</a></dd>
		<dd><a href="url">Model</a></dd>
		<dd><a href="url">Model</a></dd>
		<dd><a href="url">Model</a></dd>
		<dd><a href="url">Model</a></dd>
		<dd><a href="url">Model</a></dd>
		</dl>

		<dl><!-- sous menu 3 -->
		<dt>Végétale</dt>
		<dd><a href="url">Model</a></dd>
		<dd><a href="url">Model</a></dd>
		<dd><a href="url">Model</a></dd>
		<dd><a href="url">Model</a></dd>
		<dd><a href="url">Model</a></dd>
		<dd><a href="url">Model</a></dd>
		</dl>
		
		</div>
	</li>
	<!-- item 3 -->
	<li class="slide p3"><a href="#url">ENTREES</a><div>
		<dl>
		<dt>Chaudes</dt>
		<dd><a href="url">Model #1</a></dd>
		<dd><a href="url">Model #2</a></dd>
		<dd><a href="url">Model #3</a></dd>
		<dd><a href="url">Model #4</a></dd>
		<dd><a href="url">Model #5</a></dd>
		<dd><a href="url">Model #6</a></dd>
		</dl>
		<dl>
		<dt>Froides</dt>
		<dd><a href="url">Model</a></dd>
		<dd><a href="url">Model</a></dd>
		<dd><a href="url">Model</a></dd>
		<dd><a href="url">Model</a></dd>
		<dd><a href="url">Model</a></dd>
		<dd><a href="url">Model</a></dd>
		</dl>
		<dl>
		
		</div>
	</li>

	<!-- item 4 -->
	<li class="slide p4"><a href="#url">PLATS</a><div>
		<dl>
		<dt>Végétariens</dt>
		<dd><a href="url">Model #1</a></dd>
		<dd><a href="url">Model #2</a></dd>
		<dd><a href="url">Model #3</a></dd>
		<dd><a href="url">Model #4</a></dd>
		<dd><a href="url">Model #5</a></dd>
		<dd><a href="url">Model #6</a></dd>
		</dl>
		<dl>
		<dt>Végan</dt>
		<dd><a href="url">Model</a></dd>
		<dd><a href="url">Model</a></dd>
		<dd><a href="url">Model</a></dd>
		<dd><a href="url">Model</a></dd>
		<dd><a href="url">Model</a></dd>
		<dd><a href="url">Model</a></dd>
		</dl>
		<dl>
		
		</div>
	</li>

	<!-- item 5 -->
	<li class="last p5"><a href="#url">DESSERTS</a><div>
		<dl>
		<dt>Chocolat</dt>
		<dd><a href="url">Model #1</a></dd>
		<dd><a href="url">Model #2</a></dd>
		<dd><a href="url">Model #3</a></dd>
		<dd><a href="url">Model #4</a></dd>
		<dd><a href="url">Model #5</a></dd>
		<dd><a href="url">Model #6</a></dd>
		</dl>
		<dl>
		<dt>Tartes</dt>
		<dd><a href="url">Model</a></dd>
		<dd><a href="url">Modelo</a></dd>
		<dd><a href="url">Modele</a></dd>
		<dd><a href="url">Model</a></dd>
		<dd><a href="url">Model</a></dd>
		<dd><a href="url">Modele</a></dd>
		</dl>
		<dl>
		<dt>Autres</dt>
		<dd><a href="url">Modele</a></dd>
		<dd><a href="url">Model</a></dd>
		<dd><a href="url">Model</a></dd>
		<dd><a href="url">Model</a></dd>
		<dd><a href="url">Model</a></dd>
		<dd><a href="url">Model</a></dd>
		
		</dl>
		
		</div>
	</li>
</ul>
</div>
</div>
</div>
{# <nav class="nav-hero">
  <ul class="recipe-list">
    <li><a href="#">Apéritifs</a>
      <ul class="sub-menu">
        <li><a href="#">Cake moelleux</a></li>
        <li><a href="#">Tartine Caprese</a></li>
        <li><a href="#">Sablé apéritif</a></li>
      </ul>
    </li>
    <li><a href="#">Boissons</a>
      <ul class="sub-menu">
        <li><a href="#">Recette 1</a></li>
        <li><a href="#">Recette 2</a></li>
        <li><a href="#">Recette 3</a></li>
      </ul>
    </li>
    <li><a href="#">Entrées</a>
      <ul class="sub-menu">
        <li><a href="#">Recette 1</a></li>
        <li><a href="#">Recette 2</a></li>
        <li><a href="#">Recette 3</a></li>
      </ul>
    </li>
    <li><a href="#">Plats</a>
      <ul class="sub-menu">
        <li><a href="#">Recette 1</a></li>
        <li><a href="#">Recette 2</a></li>
        <li><a href="#">Recette 3</a></li>
      </ul>
    </li>
    <li><a href="#">Desserts</a>
      <ul class="sub-menu">
        <li><a href="#">Recette 1</a></li>
        <li><a href="#">Recette 2</a></li>
        <li><a href="#">Recette 3</a></li>
      </ul>
    </li>
  </ul>
</nav> #}


 {% endblock %}
