{% extends "template.html.twig" %}

{% block title %} Mamoun Veggie {% endblock %}

{% block content %}
<h1> Bienvenue</h1>
<ul>
{% for recipe in recipes %}
<li><a href="{{ link }}{{ recipe.id }}">{{ recipe.title }}</a></li>
{% endfor %}
</ul>
 {% endblock %}
